/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js!./node_modules/.pnpm/postcss-loader@7.0.2_6jdsrmfenkuhhw3gx4zvjlznce/node_modules/postcss-loader/dist/cjs.js!./node_modules/.pnpm/sass-loader@13.2.0_sass@1.58.3+webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./assets/scss/accordion.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.accordion-content {
  max-height: 0;
  will-change: max-height;
  transition: max-height 25ms ease-out;
  opacity: 0;
}
.accordion.active .accordion-content {
  opacity: 1;
}
