{% set sectionAttributes = attrs(text_attributes|default)
    .setIfExists("id", cssID)
    .addClass(["content-box", class, marginTop, marginBottom, paddingTop, paddingBottom])
    .set('style', '--bc:#' ~ backgroundColor, backgroundColor)
%}
{% set innerAttributes = attrs(text_attributes|default)
    .addClass(["content-box__inner", width])
    .addClass("contrast", colorInverted)
    .addClass(textAlign)
%}
{% set backgroundImageAttributes = attrs(text_attributes|default)
    .addClass("content-box__background-image")
    .addClass('parallax', backgroundParallax)
    .setIfExists('title', backgroundImageTitle)
    .set('style', 'background-image:url(' ~ backgroundImagePath ~ ')', backgroundImagePath)
%}
{% set backgroundOverlayAttributes = attrs(text_attributes|default)
    .addClass(["content-box__background-overlay", backgroundOverlay])
%}
<section{{sectionAttributes}}>
  {% if hasBackgroundImage %}
    <div{{backgroundImageAttributes}}>
    {% if backgroundOverlay %}
      <div{{backgroundOverlayAttributes}}></div>
    {% endif %}
    </div>
  {% endif %}
  <div{{innerAttributes}}>
 
